@import url("/node_modules/bootstrap/dist/css/bootstrap.min.css");

@import "/node_modules/bootstrap/scss/functions";
@import "/node_modules/bootstrap/scss/variables";
@import "/node_modules/bootstrap/scss/mixins";

@import "./variables";
@import "./sidebar.scss";
@import "./navbar.scss";

html,
body {
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 100vh;
}

.bi {
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

main {
  padding-top: 56px;
}

.main-wrapper {
  background-color: #fff;
}

.main-container {
  min-height: calc(100vh - 56px);

  .main-wrapper {
    min-height: calc(100vh - 56px - 57px);
  }

  .main-content {
    // min-height: calc(100vh - 56px - 57px - 1.5rem);

    min-height: calc(100vh - 56px - 57px - 3.5rem);
  }
}

@media (min-width: 768px) {
  .main-container {
    .main-wrapper {
      width: calc(100% - 200px);
    }
  }
}

a {
  &:hover {
    cursor: pointer;
  }
}

table {
  th {
    vertical-align: baseline;
    // text-align: center;
    white-space: nowrap;
  }
}
.desktop-main-data {
  .unit-section {
    padding: 0px 0.25rem;
    &.badges-section {
      .unit-container {
        height: 25px;
        display: table-cell;
        vertical-align: middle;
      }

      .badge {
        &:first-child {
          margin-right: 5px;
        }
      }
    }
    .unit-container {
      // &:not(:last-child) {
      //   border-bottom: 1px solid rgba(0, 0, 0, 0.3);
      // }

      display: flex;

      .unit-detail {
        flex: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: 3px 0px;
      }
    }
  }
}
.unit-actions {
  text-align: center;

  .unit-added {
    &:hover {
      cursor: not-allowed;
    }
  }

  a,
  button {
    padding: 0px 5px;
    font-size: 12px;
    border-radius: 0px;
    margin: 0px;
    min-width: 50px;
    white-space: nowrap;

    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
}

.division-table {
  display: table;
  width: 100%;
  margin-bottom: 20px;

  .division-container {
    width: 100%;
    padding: 10px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000;

    &:last-child {
      border-bottom: 1px solid #000;
    }
  }
  .division-section {
    width: 100%;
    display: block;

    &:nth-child(odd) {
      background-color: rgba(18, 17, 17, 0.2);
      color: #000;
    }

    span {
      width: 65%;
      display: inline-block;
      vertical-align: top;
      padding: 2px 5px;
      font-weight: bolder;

      &.division-title {
        font-weight: bolder;
        width: 35%;
      }
      &.units-section {
        border: 0px;
        padding: 0px 5px;
        div {
          &:not(:last-child) {
            border-bottom: 1px solid rgba(0, 0, 0, 0.3);
          }
        }
      }
    }
  }
}

.btn-loading-container {
  background-color: #0d6efd;
  height: 38px;
  line-height: 25px;
  width: 101px;
  &:hover {
    cursor: not-allowed;
  }
  svg {
    width: 25px;
    height: 25px;
    &:hover {
      cursor: not-allowed;
    }
  }
}
.loading-container {
  display: flex;
  align-items: center;
  line-height: 45px;

  &.fullsize {
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 450px;
  }
  p {
    margin: 0;
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
}
