.combined-section {
  background-color: #ebd98b;
  border: 1px solid #000;
  padding: 10px;
  margin-right: 5px;
  min-height: 540px;
  .combined-items-section {
    margin-bottom: 15px;
    min-height: 503px;
    &.has-pagination {
      min-height: 450px;
    }
    .combined-container {
      .combined-wrapper {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
        margin-bottom: 2px;
        font-size: 12px;
        height: 28px;

        .product_index {
          width: 30px;
          height: 25px;
        }
        input {
          background-color: #fff;
          border: 0;
          margin-right: 1%;
          width: 13% !important;
          &.product_sku {
            width: 11% !important;
          }
          &.product_name {
            flex: 1;
          }
        }
      }
    }
  }
}
