.dropdown-toggle::after {
  color: #fff;
}
.dropdown-menu[data-bs-popper] {
  right: 0 !important;
  left: unset !important;
}

.header-flex {
  width: 100%;
}

.navbar {
  .container-fluid {
    position: relative;
  }

  .navbar-toggler {
    &.auth {
      margin-right: 50px;
    }

    &.non-auth {
      margin-right: 75px;
    }
  }

  .login-temp {
    position: absolute;
    top: 0px;
    right: 10px;
  }

  .user-information {
    position: absolute;
    top: -5px;
    right: calc(5px + 55px + 75px);

    color: #fff;
  }

  @media (min-width: 768px) {
    .user-information {
      right: calc(5px + 55px);
    }
  }

  .user-profile {
    position: absolute;
    top: 3px;
    right: 5px;
  }
}
