.pagination {
  margin-bottom: 0;
}

.pagination-section {
  margin: 15px 0px;
  .page-item {
    min-width: 40px;
    max-width: 40px;
  }

  a {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */

    &.page-link {
      display: block;
      text-align: center;
      white-space: nowrap;

      &.disabled {
        background-color: #f5f3f3 !important;

        &:hover {
          cursor: not-allowed !important;
        }
      }
    }
  }
}
