.report-container {
  margin-bottom: 20px;

  .report-wrapper {
    .report-details {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-evenly;
      input {
        // width: 24%;
        margin-right: 1%;
      }
    }
  }

  &.notes-container {
    .report-wrapper {
      textarea {
        width: 100%;
      }
    }
  }
  &.additional-container,
  &.waste-container,
  &.damage-container {
    a {
      border-radius: 0;
      padding: 0px 5px;
    }

    .report-wrapper {
      textarea {
        width: 100%;
      }

      .report-details {
        .product_name {
          width: 35%;
          max-width: 217px;
        }
        .product_code,
        .product_unit {
          width: 10%;
        }
        .product_value {
          width: 10%;
        }
        .product_file {
          width: 40%;
          flex: 1;
        }
      }
    }
  }

  &.notes-container,
  &.additional-container,
  &.waste-container,
  &.damage-container {
    .product_index {
      width: 25px;
      height: 30px;
      line-height: 30px;
    }
    .product_remove {
      line-height: 30px;
      min-width: 30px;
      width: 30px;
      height: 30px;
      padding: 0px;
    }
  }

  &.waste-container {
    .custom-options-container {
      position: relative;
      margin-right: 1%;
      .product_name {
        width: 100% !important;
        max-width: 217px;
      }

      .custom-options-wrapper {
        position: absolute;
        width: 100%;
        background-color: #fff;
        border: 1px solid #000;
        border-top: none;
        padding: 5px;
        z-index: 100;
        font-size: 12px;
        font-weight: 500;
        overflow-y: scroll;
        height: 250px;

        .custom-option {
          padding: 5px;
          &:hover {
            cursor: pointer;
          }
          &:nth-child(odd) {
            background-color: rgba(18, 17, 17, 0.2);
            color: #000;
          }
        }
      }
    }
  }
}
