.report-container {
  margin-bottom: 20px;

  .report-wrapper {
    .report-details {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-evenly;
      input {
        // width: 24%;
        margin-right: 1%;
      }
    }
  }

  &.notes-container {
    .report-wrapper {
      textarea {
        width: 100%;
      }
    }
  }
  &.additional-container,
  &.waste-container,
  &.damage-container {
    a {
      border-radius: 0;
      padding: 0px 5px;
    }

    .report-wrapper {
      textarea {
        width: 100%;
      }

      .report-details {
        .product_name {
          width: 35%;
        }
        .product_code,
        .product_unit {
          width: 10%;
        }
        .product_value {
          width: 10%;
        }
        .product_file {
          width: 40%;
        }
      }
    }
  }

  &.notes-container,
  &.additional-container,
  &.waste-container,
  &.damage-container {
    .product_index {
      width: 25px;
      height: 30px;
      line-height: 30px;
    }
    .product_remove {
      width: 30px;
      height: 30px;
      line-height: 30px;
    }
  }
}
