/*
 * Sidebar
 */

@media (min-width: 768px) {
  .sidebar .offcanvas-lg {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
  }
  .navbar-search {
    display: block;
  }
  .sidebar {
    position: fixed;
    height: calc(100vh - 56px);
    min-width: 50px;
    max-width: 50px;

    background-color: #405189;
    border-color: #405189;
    overflow-y: auto;
    z-index: 10;

    &:hover {
      min-width: 200px !important;
      max-width: 200px !important;

      .nav-item {
        .accordion-item {
          .accordion-button::after {
            display: block !important;
          }
        }

        .nav-item-content {
          display: block !important;
        }
      }
    }

    .nav-item {
      .accordion-item {
        .accordion-button::after {
          display: none;
        }
      }
      .nav-item-content {
        display: none;
      }
    }
  }
}

.sidebar {
  .nav-link {
    font-size: 0.875rem;
    font-weight: 500;
    color: #d8dff7;
    &.active {
      color: #ffffff;
    }
    &::after {
      color: #fff;
    }
  }
  .nav-item {
    .accordion-item {
      background-color: transparent;
      a.nav-link {
        padding: 0.5rem 1rem;
        background-color: transparent;
      }
      .accordion-collapse {
        background-color: #778aca;
        border-radius: 0;
        ul {
          list-style-type: none;
        }
        ul,
        li {
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}

.sidebar-heading {
  font-size: 0.75rem;
  color: #abb9e8 !important;
}
