.templates-container {
  max-width: 800px;
  margin: 0 auto;

  .templates-text {
    position: relative;

    .templates-status {
      transform: translate(50%, 20%);
      top: 0px;
    }
  }
}

.template-edit-container {
  min-width: 800px;
}

.template-edit-section {
  .template-header-section {
    min-height: 35px;
    h6 {
      margin-bottom: 0px;
    }
  }
  .table-responsive {
    border: 1px solid #ddd;
    padding: 10px;

    &.small {
      font-size: 0.75rem;
    }

    tbody {
      border: 1px solid #ddd;
    }
  }
}

.table-responsive {
  thead,
  tbody {
    tr {
      vertical-align: top;
    }
  }
}
