.template-header-section {
  &.master-section {
    min-height: 113px !important;
    &.edit {
      min-height: 35px !important;
    }
  }
  .template-item {
    span {
      text-wrap: nowrap;
    }
    select {
      width: 100%;
    }
  }
}
