.templates-container {
  max-width: 800px;
  margin: 0 auto;

  .templates-text {
    position: relative;

    .templates-status {
      transform: translate(50%, 20%);
    }
  }
}

.template-edit-container {
  min-width: 800px;
}
.template-edit-section {
  .table-responsive {
    border: 1px solid #ddd;
    padding: 10px 15px;

    &.small {
      font-size: 0.75rem;
    }
    tbody {
      border: 1px solid #ddd;

      td {
        vertical-align: middle;
      }
    }
  }
}
